@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root {
  width: 100%;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: #333
}
.nav {
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    a {
      font-weight: bold;
      color: #333;
    }
  }
}
.page-nav {
  a {
    display: inline-block;
    padding: 3px;
    min-width: 18px;
    text-align: center;
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: #000;
    background-color: #cecece;
  }
  a:active,
  a.active {
    color: #fff;
    background-color: #9f7c7c;
  }
}
.novel-read {
  pre {
    width: 100%;
    white-space: pre-line;
  }
}
.star-list {
  width: 200px;
  span {
    display: inline-block;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
    color: #666;
    &:hover {
      background-color: #ffbb1d;
      color: #fff
    }
  }

}